/*
	! By reset.css
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
h1, h2, h3, h4 {
	font-weight: bold;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	font-size: 16px;
	word-break: break-word;
	text-rendering: optimizeLegibility;
}
html, body, #app {
	height: 100%;
}

body {
	font-family: -apple-system,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Arial,sans-serif !important;
	color: #000 !important;
	line-height: 2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*
! 重置 antd 样式
*/
.ant-anchor-wrapper .ant-anchor {
	font-size: 1rem;
}
.ant-anchor .ant-anchor-link {
	padding: 0;
}
.ant-upload {
	width: 160px !important;
	height: 160px !important;
}




/*
!! 切换效果 - 1
.fade-enter {
opacity: 0;
}
.fade-enter-active {
opacity: 1;
transition: all 1000ms ease;
}
.fade-exit {
opacity: 1;
}
.fade-exit-active {
opacity: 0;
transition: all 1000ms ease;
} */


/*
!! 切换效果 - 2
.left-enter {
position: absolute;
top: 0;
background: #fff;
z-index: 10000;
opacity: 1;
transform: translateX(100%);
}

.left-enter.left-enter-active {
opacity: 0;
transform: translateX(0);
transition: all 0.6s ease-out;
}

.left-leave {
opacity: 0;
transform: translateX(0);
}

.left-leave.left-leave-active {
opacity: 1;
transform: translateX(-100%);
transition: all 0.6s ease-out;
} */

/*
!! 切换效果 - 3
*/
.left-appear,
.left-enter {
	opacity: 0.5;
	transform: scale(0) rotate(30deg);
}
.left-appear-active,
.left-enter-active {
	opacity: 1;
	transform: scale(1) rotate(0);
	transition: transform 0.3s ease-in-out;
}
.left-exit {
	transition: transform 0.2s ease-in-out;
	transform: scale(1.2) rotate(-30deg);
}
.left-exit-active {
	transform: scale(0) rotate(0);
}



.header-active {
	background-color: #1890ff;
}
.header-active a {
	color: #fff;
}


/*
! 重置react-quill样式
*/
.ql-editor {
	min-height: 16.6667rem;
}



/*
! 点赞
*/
.star-active {
	color: #1890ff !important;
}



/*
! 展示隐藏回复框 & 切换message icon
*/
.comment-reply-icon-active {
	color: #1890ff;
}



/*
! details页 固定栏 点赞
! details页 固定栏 消息
! details页 固定栏 收藏
*/
.fixed-control-bar-star,
.fixed-control-bar-collection {
	cursor: pointer;
	transition: color .3s ease;
}
.fixed-control-bar-star:hover,
.fixed-control-bar-collection:hover {
	color: #40a9ff;
}
.fixed-control-bar-star-active,
.fixed-control-bar-collection-active {
	color: #1890ff;
}



/*
! details页 baseComment组件 输入框样式
*/
.yyg-contenteditable {
	height: 100%;
	padding: 0.5rem 0.6667rem 0.3889rem;
	background-color: #f8f9f9;
	border: 1px solid #ccc;
	border-radius: 0.3333rem;
	outline: none;
	transition: border .15s ease-in,
							background-color .15s ease-in;
}
.yyg-contenteditable:hover {
	background-color: #f8f8f8;
	border-color: #8590a6;
}
.yyg-contenteditable:focus {
	border: 1px solid #1890ff;
	background-color: #fff;
}
.yyg-contenteditable:empty::before {
	content: attr(data-placeholder);
	color: #ccc;
}
/* .yyg-contenteditable:focus::before {
	content: none;
} */


/*
! 顶部progress_bar加载条样式
*/
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;
	width: 100%;
	height: 0.128rem;
	background-color: #1890ff;
}

#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 6.25rem;
	height: 100%;
	box-shadow: 0 0 0.625rem #1890ff, 0 0 0.3125rem #1890ff;
	opacity: 1.0;
	transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 1031;
	top: 0.9375rem;
	right: 0.9375rem;
}

#nprogress .spinner-icon {
	box-sizing: border-box;
	width: 1.125rem;
	height: 1.125rem;
	border: solid 2px transparent;
	border-top-color: #1890ff;
	border-left-color: #1890ff;
	border-radius: 50%;
	animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
	position: absolute;
}

@keyframes nprogress-spinner {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}